nav {
    background-color: rgb(61, 81, 87);
    color:blanchedalmond;
    font-weight: bolder;
    display: flex;
    width: 100

}

.footer{
    background-color: rgb(61, 81, 87);
    position:static;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
    font-size: 15pt;
    width: 100%;
    bottom: 0px;
}

li {
    list-style-type: none;
    padding: 5px;
}

a {
    color: whitesmoke;
    text-decoration: none;
}
